# hidden files
.idea
.ipynb_checkpoints
__pycache__/

# data & logs
data/results
data/results_relation_approaches
data/logs/
data/logs_server/
data/final_models/
scripts/data/logs/
data/other/

# rest
other/lib
test*.py
notebooks/*test.ipynb
debug*.py
*~$*.xlsx